{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="container mx-auto mt-10">
    <div class="flex mb-4" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
          <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="17" height="17" viewBox="0 0 512 512">
              <path d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
              <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
            </svg>Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
            </svg>
            <a href="#" class="ms-1 text-sm font-medium text-gray-700">About Us</a>
          </div>
        </li>
      </ol>
    </div>

    <div class="about_section">
      <h1 class="text-5xl font-bold">About US</h1>
    </div>
    <div class="items-center lg:grid lg:grid-cols-2">
      <div class="p-3 sm:p-0 col-span-1 h-full mt-12">
        <img src="{% static 'img/G1.jpg' %}" alt="Bhutan" class=" h-full object-cover rounded" />
      </div>
      <div class="pl-3">About us description</div>
    </div>

    <div class="bg-cover bg-top rounded bg-no-repeat relative mt-12" style="background-image: linear-gradient(to bottom, rgba(234, 88, 12, 0.5), transparent), url({% static 'img/G5.jpg' %});">
      <div class="bg-black bg-opacity-50 py-20 rounded">
        <div class="container mx-auto text-center text-white max-w-[550px]">
          <h1 class="text-4xl font-bold mb-4">Explore Places</h1>
          <p class="text-xl mb-6">Escape the great mundane routine and dive into the unique cultures and stunning landscapes.</p>
          <a href="#"><button class="bg-green-600 btn_effect text-white px-6 py-3 rounded">Explore Destinations</button></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}