{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="contact container mx-auto" id="contact">
    <div class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 pt-7 px-6 sm:px-0">
        <li class="inline-flex items-center">
          <a href="#" class="inline-flex items-center text-sm font-medium text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="17" height="17" viewBox="0 0 512 512">
              <path d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
              <path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
            </svg>Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
            </svg>
            <a href="#" class="ms-1 text-sm font-medium text-gray-600">Contact Us</a>
          </div>
        </li>
      </ol>
    </div>

    <div class="mx-auto py-5 px-6 sm:px-0">
      <div class="mb-6">
        <h2 class="font-heading mb-4 font-bold text-2xl tracking-tight text-gray-900">Get in Touch</h2>
      </div>

      <div class="get-in-touch">
        <div class="grid md:grid-cols-2">
          <div class="h-full pr-6">
            <p class="mt-3 mb-12 text-lg text-gray-600">If you have any queries please contact us.</p>
            <ul class="mb-6 md:mb-0">
              <li class="flex">
                <div class="flex h-10 w-10 items-center justify-center rounded bg-green-600 text-gray-50">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                  </svg>
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6 text-gray-900">Our Address</h3>
                  {% comment %} <p class="text-gray-600">{{contact.address|replace_text_breaks|safe}}</p> {% endcomment %}
                  <p class="text-gray-600">Lalitpur Muniicpality, Kupundol Lalitpur</p>
                </div>
              </li>
              <li class="flex">
                <div class="flex h-10 w-10 items-center justify-center rounded bg-green-600 text-gray-50">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                    <path d="M15 7a2 2 0 0 1 2 2"></path>
                    <path d="M15 3a6 6 0 0 1 6 6"></path>
                  </svg>
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6 text-gray-900">Contact</h3>
                  <p class="text-gray-600">12345678</p>
                  <p class="text-gray-600">info.momsinternational.com.np</p>
                </div>
              </li>
              <li class="flex">
                <div class="flex h-10 w-10 items-center justify-center rounded bg-green-600 text-gray-50">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                    <path d="M12 7v5l3 3"></path>
                  </svg>
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6 text-gray-900">Working hours</h3>
                  {% comment %} <p class="text-gray-600">{{contact.working_hrs|replace_text_breaks|safe}}</p> {% endcomment %}
                  <p class="text-gray-600">9AM - 5 PM</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="card h-fit max-w-6xl p-2 md:p-5" id="form">
            <h2 class="mb-4 text-2xl font-bold">Ready to Get Started?</h2>

            {% comment %} {% for message in messages %}
              {% include 'alert.html' %}
            {% endfor %} {% endcomment %}

            <form id="contactForm" action="" method="POST">
              {% csrf_token %}
              <div class="mb-6">
                <div class="mx-0 mb-1 sm:mb-4">
                  <div class="mx-0 mb-1 sm:mb-4">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Full Name</label><input type="text" name="fname" id="name" autocomplete="given-name" class="border border-gray-300 text-gray-900 outline-0 text-sm rounded block w-full p-2.5" />
                  </div>
                  <div class="mx-0 mb-1 sm:mb-4">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label><input type="email" id="email" name="email" autocomplete="email" class="border border-gray-300 text-gray-900 outline-0 text-sm rounded block w-full p-2.5" name="email" />
                  </div>
                </div>
                <div class="mx-0 mb-1 sm:mb-4">
                  <label for="textarea" class="block mb-2 text-sm font-medium text-gray-900">Message</label><textarea id="textarea" name="textarea" cols="30" rows="5" placeholder="Write your message..." class="border border-gray-300 text-gray-900 outline-0 text-sm rounded block w-full p-2.5"></textarea>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="w-full bg-green-500 text-white px-6 py-3 font-xl rounded-md sm:mb-0">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}