{% extends "admin-base.html" %}
{% block title %}Event{% endblock title %}
{% block beadcrumb %}Event{% endblock beadcrumb %}
{% block maintitle %}Event{% endblock maintitle %}

{% block content %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            {% with messages=messages %}
                {% include 'alert.html' %}
            {% endwith %}

            <div class="dt-responsive">
                <table 
                    class="ajaxdatatable table table-bordered nowrap"
                    data-ajax="{% url 'dashboard:pageajax' %}"
                    data-nodata="No Pages Found"
                >
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Location</th>
                            <th>Entry Charge</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}