{% load static %}
<footer class="bg-whit container mx-auto">
    <div class="mx-5 sm:mx-0 w-full mt-20  pb-5">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="" class="flex items-center">
                  <img src="{% static 'img/logo-no-bg.png' %}" class="h-16 me-3"/>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <div class="mb-6 text-sm text-gray-900 uppercase font-medium">Resources</div>
                  <ul class="text-gray-500 ">
                      <li class="mb-4">
                          <a href="#" class="hover:underline">Miss Nepal</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Nepal Top models</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <div class="mb-6 text-sm text-gray-900 uppercase font-medium ">Follow us</div>
                  <ul class="text-gray-500 ">
                      <li class="mb-4">
                          <a href="#" class="hover:underline ">Instagram</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Facebook</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <div class="mb-6 text-sm text-gray-900 uppercase font-medium ">Legal</div>
                  <ul class="text-gray-500 ">
                      <li class="mb-4">
                          <a href="#" class="hover:underline">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-100 sm:mx-auto" />
          <p class="text-sm text-gray-500 text-center">© 2024 <a href="#" class="hover:underline">Moms International</a>. All Rights Reserved.
          </p>
    </div>
  </footer>
  