{% load static %}
<header class="header w-full">
  <div class="container mx-auto flex justify-between items-center mt-5">
    <div class="logo">
      <img src="{% static 'img/logo-no-bg.png' %}" alt="logo" class="h-auto w-72" />
    </div>
    <div>
      <ul class="flex gap-20 items-center">
        <li>Home</li>
        <li>Events</li>
        <li>About Us</li>
        <li class="bg-[#E63E2F] px-3 py-2 text-white font-bold rounded-sm hover:cursor-pointer">Contact Us</li>
      </ul>
    </div>
  </div>
</header>
