<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label class="form-label">Moms-Nepal</label>
            <input type="text" name="website_name" class="form-control" placeholder="Website Name" value="{{data.website_name}}">
        </div>
    </div>

    <div class="col-6 mt-3">
        <div class="form-group">
            <label class="form-label">Logo</label>
            {% with image=data.website_logo %}
                {% with name="website_logo"  %}
                    {% comment %} {% include 'image-pick.html' %} {% endcomment %}
                {% endwith %}
            {% endwith %} 
        </div>
    </div>

    <div class="col-6 mt-3">
        <div class="form-group">
            <label class="form-label">Featured Image</label>
            {% with image=data.website_featured %}
                {% with name="website_featured"  %}
                    {% comment %} {% include 'image-pick.html' %} {% endcomment %}
                {% endwith %} 
            {% endwith %} 
        </div> 
    </div>
</div>